<div class="angency-sidebar_block subcribe-sidebar-block">
  <div class="row">
    <div class="col-12">
      <div class="subcribe-block text-center"><i class="decorative-icon far fa-envelope-open"></i>
        <h5 class="subcribe-title">Subscribe To Our Mailing List </h5>
        <form action="" method="post">
          <div class="email-form">
            <input class="input-form" type="text" placeholder="Enter Your Mail">
            <button class="normal-btn">Subcribe</button>
          </div>
          <div class="read-policy">
            <input type="checkbox" id="read1">
            <label for="read1">I've read and accept the Privacy Policy</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
