<div class="row">
  <div class="col-12 mt-2 mb-2 ml-2">
    <div style="cursor: pointer;float: left;color: #495057; padding: 5px">
      <a (click)="getMyPost(idUser)" class="fa fa-tag">All</a>
    </div>
    <div style="cursor: pointer;float: left; padding: 5px; color: #495057" *ngFor="let item of hasgtags">
      <a (click)="findMyPostByHashtag(idUser, item.id)" class="fa fa-tag">{{item.name}}</a>
  </div>
  </div>
</div>

<div class="d-flex">
  <input autocomplete="on" (click)="changeBoderColor()" id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="button" (click)="searchByTitle()">Search</button>
</div>
<div *ngIf="myPost.length === 0"><img width="10%" src="https://img.icons8.com/ios/2x/list-is-empty.gif" alt="">empty</div>
<div class="col-12 col-md-6 col-lg-12 mt-3" *ngFor="let item of myPost | paginate : {itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count}">
  <div class="post-mini_block">
    <div class="row">
    <div class="col-3"><img style="height: 170px; width: 260px" src="{{item.image}}" alt="post image"></div>
    <div class="col-9"><div class="post-detail">
      <div  class="post-credit">
        <div class="row">
          <div class="col-6"><div style="margin-left: 100px" class="post-tag"><a style="text-decoration: none" class="fa fa-tag" href="index.html">{{item.hashtag.name}}</a></div></div>
          <div class="col-6"><button routerLink="/post/edit/{{item.id}}" class="btn btn-sm btn-outline-primary" style="float: right">Edit</button>  <button (click)="getIdPost(item.id)" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float: right">Delete</button></div>
        </div>

      </div ><div style="margin-left: 100px"><h6 style="cursor: pointer; font-size: 20px;" routerLink="/post/view/{{item.id}}"  class="titlex">{{item.title}}</h6></div>
      <p style="margin-left: 100px" class="descrip">{{item.description}}</p>
      <div style="margin-left: 100px" class="post-credit">
        <div class="author">
          <p class="author-name">{{item.date | date: ' EEEE,  dd-MM-yyyy hh:mm'}}  ({{item.status}})</p>
<!--          <div class="btn-group btn-toggle">-->
<!--          <button class="btn btn-lg btn-default">ON</button>-->
<!--          <button class="btn btn-lg btn-primary active">OFF</button>-->
<!--        </div>-->
        </div>
      </div>
    </div></div>
    </div>
  </div>
</div>
<div class="d-flex justify" style="margin-left: 35%" >
  <pagination-controls previousLabel="" nextLabel="" (pageChange)="tabSize($event)">
  </pagination-controls>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{notification}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div align="center"><img src="{{notificationImg}}" alt=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deletePost(idPost)"  class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>




