<br xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous"/>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="height: 1350px">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="career-search mb-60">
            <form action="#" class="career-form mb-60">
              <div class="row">
                <div class="col-md-6 col-lg-3 my-3" style="float: left;">
                  <div class="select-container">
                    <form class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <form class="form-inline">
                            <div class="form-group hidden">
                              <div class="input-group" style="margin-top: 50px">
                                <input name="datepicker"
                                       class="form-control"
                                       ngbDatepicker
                                       #datepicker="ngbDatepicker"
                                       [autoClose]="'outside'"
                                       (dateSelect)="onDateSelection($event)"
                                       [displayMonths]="2"
                                       [dayTemplate]="t"
                                       outsideDays="hidden"
                                       [startDate]="fromDate!" hidden>
                                <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
                                </ng-template>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <input #dpFromDate
                                       class="form-control" placeholder="yyyy-mm-dd"
                                       name="dpFromDate"
                                       [value]="formatter.format(fromDate)"
                                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                                       style="width: 120px;  height: 42px" id="time1">
                                <button style="background-color: #8fd7d0; height: 42px; border: none"
                                        class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                        type="button"><i class="fa fa-calendar-check"></i></button>
                              </div>
                            </div>
                            <div class="form-group ml-2">
                              <div class="input-group">
                                <input #dpToDate
                                       class="form-control" placeholder="yyyy-mm-dd"
                                       name="dpToDate"
                                       [value]="formatter.format(toDate)"
                                       (input)="toDate = validateInput(toDate, dpToDate.value)"
                                       style="width: 120px;  height: 42px" id="time2">
                                <button style="background-color: #8fd7d0; height: 42px; border: none"
                                        class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()"
                                        type="button"><i class="fa fa-calendar-check"></i></button>
                                <button style="background-color: #8fd7d0; height: 42px; border: none"
                                        class="btn btn-outline-secondary calendar" (click)="finByTime()" type="button">
                                  <i class="fa fa-search"></i></button>
                              </div>
                            </div>
                          </form>
                          <hr/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-4 col-lg-3 my-3">
                  <div>
                    <select (change)="getAllByStatus()" id="selectStatus" class="custom-select"
                            style="background-color: #abd5cf;margin-top: 5px; margin-left: 130px;  height: 42px;width: 70%">
                      <option value="">Select Status</option>
                      <option value="public">Public</option>
                      <option value="lock">Lock</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 my-3">
                  <div class="input-group ">
                    <div class="ng-autocomplete">
                      <ng-autocomplete [data]="data"
                                       [searchKeyword]="keyword"
                                       (selected)="selectEvent($event)"
                                       (inputChanged)='onChangeSearch($event)'
                                       (inputFocused)='onFocused($event)'
                                       [itemTemplate]="itemTemplate"
                                       [notFoundTemplate]="notFoundTemplate"
                                       style="width: 321px;float: left; margin-left: 54px; margin-top: 5px" id="key">
                      </ng-autocomplete>

                      <ng-template #itemTemplate let-item>
                        <a href="javascript:void(0)" style="height: 115px">
                          <div class="row">
                            <div class="col-md-3">
                              <span><img src="{{item.image}}" width="80" height="80"
                                         style="border-radius: 44px; border: #4e5454 solid"></span>&nbsp;
                            </div>
                            <div class="col-md-9">
                              <div class="col-sm-12">
                                <span class="titleSearch" [innerHTML]="item.title" style="color: #070707"></span>
                              </div>
                              <div class="col-sm-12">
                                <small><i class="fa fa-user" [innerHTML]="' ' +item.user.name"> </i></small>
                              </div>
                              <div class="col-sm-12">
                                <a href="/post/view/{{item.id}}" style="color: #0b2e13; float: left"><i
                                  class="fa fa-eye"><small> View more</small></i></a>
                              </div>
                            </div>
                          </div>
                        </a>
                        <hr>
                      </ng-template>
                      <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                      </ng-template>
                      <button type="button" class="btn btn-outline-secondary" (click)="reset()"
                              style="width: 80px; margin-top: 5px;height: 42px; float: right;background-color: #8fd7d0; border: none"
                              id="contact-submit ">
                        <i class="fa fa-bolt">All</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <h3 style="margin-top: 30px" class="text-secondary text-center" *ngIf="posts.length == 0 "> Không có kết quả bạn
        muốn tìm <img src="https://img.icons8.com/ios/2x/nerd--v3.gif" height="40" width="40"></h3>
      <div class="card mb-2" *ngFor="let post of posts  | paginate :{
        itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
  }">
        <div class="card-body p-2 p-sm-3" style="background-color: #f3f5f5">
          <div class="media forum-item">
            <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="{{post.user.avatar}}"
                                                                                 class="mr-3 rounded-circle" width="100"
                                                                                 height="100"
                                                                                 style="border: #707477 solid"/></a>
            <div class="media-body">
              <h6 style="color: #495057"><a routerLink="/post/view/{{post.id}}" style="text-decoration: none"
                                            data-toggle="collapse" data-target=".forum-content"
                                            class="content"><i class="fa fa-play"></i> {{post.title}}</a></h6>
              <br>
              <small><p class="content text-secondary">
                <i class="fa fa-audio-description"></i> {{post.description}}
              </p></small>
              <br>
              <p class="text-muted"><a><i class="fa fa-user"> {{post.user.name}}</i></a> &nbsp;&nbsp;&nbsp; <span
                class="text-secondary font-weight-bold"><a><i class="fa fa-tag"> {{post.hashtag.name}}</i></a></span>
                &nbsp;&nbsp;&nbsp; <span class="text-secondary font-weight-bold"><a><i
                  class="fa fa-clock"> {{post.date | date}}</i></a></span>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" style="float: right" (click)="findPostById(post.id)">
                  <i class="fa fa-pen"> Change Status</i>
                </button>
                &nbsp;&nbsp;&nbsp;
                <button *ngIf="post.status == 'public'" type="button" class="btn btn-outline-success btn-sm"
                        style="float: right"><i class="fa fa-check"> Public</i></button>
                <button *ngIf="post.status == 'lock'" type="button" class="btn btn-outline-secondary btn-sm"
                        style="float: right"><i class="fa fa-key"> Lock</i></button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <div class="d-flex justify" style="margin-left: 35%">
    <pagination-controls previousLabel="Back" nextLabel="Next" (pageChange)="tabSize($event)">
    </pagination-controls>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Change Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm" (ngSubmit)="updateStatus()">
          <b>You want to lock Post :</b><br>
          <b>{{postForm.value.title}}</b>
          <h3 class="text-center" [innerHTML]="status"></h3>
          <hr>
          <input type="hidden" formControlName="title">
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="description">
          <input type="hidden" formControlName="image">
          <input type="hidden" formControlName="content">
          <input type="hidden" formControlName="date">
          <input type="hidden" formControlName="user">
          <input type="hidden" formControlName="hashtag">
          <select formControlName="status" class="form-control">
            <option value="lock">Lock</option>
            <option value="public">Public</option>
          </select>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
