<div class="angency-sidebar_block about-us-sidebar-block">
  <h2 class="sidebar-block-title"><i class="fa fa-chess-king"></i> Top Member</h2>
  <div class="post-block post-classic_wrapper">
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="{{users[0].avatar}}" height="350" width="560" alt="post image" style="border-radius: 5px; border: #b8ccd0 solid"></div>
      <div class="post-detail"><a class="post-title" routerLink="/post/list/{{users[0].id}}">{{users[0].name}}</a>
        <p class="post-describe">Member Top 1</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="{{users[1].avatar}}" height="350" width="560" alt="post image"style="border-radius: 5px;border: #b8ccd0 solid"></div>
      <div class="post-detail"><a class="post-title" routerLink="/post/list/{{users[1].id}}">{{users[1].name}}</a>
        <p class="post-describe">Member Top 2</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="{{users[2].avatar}}" height="350" width="560" alt="post image"style="border-radius: 5px;border: #b8ccd0 solid"></div>
      <div class="post-detail"><a class="post-title" routerLink="/post/list/{{users[2].id}}">{{users[2].name}}</a>
        <p class="post-describe">Member Top 3</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="{{users[3].avatar}}" height="350" width="560" alt="post image"style="border-radius: 5px;border: #b8ccd0 solid"></div>
      <div class="post-detail"><a class="post-title" routerLink="/post/list/{{users[3].id}}">{{users[3].name}}</a>
        <p class="post-describe">Member Top 4</p>
      </div>
    </div>
    <div class="post-block post-classic mini-post-classic">
      <div class="post-img"><img src="{{users[3].avatar}}" height="350" width="560" alt="post image"style="border-radius: 5px;border: #b8ccd0 solid"></div>
      <div class="post-detail"><a class="post-title" routerLink="/post/list/{{users[3].id}}">{{users[3].name}}</a>
        <p class="post-describe">Member Top 5</p>
      </div>
    </div>
  </div>
</div>
