<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <meta name="keywords" content="blog, business, clean, clear, cooporate, creative, design web, flat, marketing, minimal, portfolio, shop, shopping, unique">
  <meta name="author" content="PISEN | Deer Creative Theme">
</head>
<body>
<div id="main">
  <!------------------------NavBar--------------------------------->
  <app-navbar></app-navbar>
  <!------------------------End Navbar----------------------------->
  <section class="posts blog-agency">
    <div class="container">
      <div class="blog-news_bundle new-news-bundle">
        <div class="row">
            <!--------------------------------------ADS------------------------------------------->
              <app-ads></app-ads>
            <!---------------------------------------Hashtag-------------------------------------->
              <app-slide-hashtag></app-slide-hashtag>
            <!------------------------------------------------------------------------------------>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="agency-block_left">
             <!-----------------------------------Top 4 Post new---------------------------------->
              <app-top-new-post></app-top-new-post>
             <!----------------------------------------------------------------------------------->
            <div class="blog-news_bundle recent-view-bundle">
              <div class="row">
<!--------------------------------------------------Recent View-------------------------------------------------------->
                <app-recent-view></app-recent-view>
<!--------------------------------------------------------------------------------------------------------------------->
                <div class="col-12">
                  <button class="normal-btn" id="load-more">Load more</button>
                </div>
<!--------------------------------------------------------------------------------------------------------------------->
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="agency-block_right">
<!-------------------------------------------------About us------------------------------------------------------------>
            <app-about-us-home></app-about-us-home>
<!--------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------Follow us----------------------------------------------------------->
            <app-follow-us-home></app-follow-us-home>
<!--------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------Recent Post-------------------------------------------------------->
            <app-recent-post></app-recent-post>
<!--------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------Đăng ký email nhận thông báo---------------------------------------------->
            <app-signup-email-ads></app-signup-email-ads>
<!--------------------------------------------------------------------------------------------------------------------->
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  <app-instaram></app-instaram>-->
  <!--End instagram-->
</div>
</body>
</html>
