<div class="row">
  <div class="col-2 ml-7 text-center" *ngFor="let hashtag of hashtags | paginate :{
        itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
  }">
    <div class="">
      <div class="post-classic-tib mini-post">
        <a><img src="{{hashtag.image}}" width="100%" height="80%"style="border-radius: 10px" routerLink="/post/hashtag/{{hashtag.id}}"></a>
          <div class="post-detail">
            <div class="post-credit" style="background-color: #f56b6b; border-radius: 5px">
              <div class="post-tag">
                <a style="text-decoration: none" routerLink="/post/hashtag/{{hashtag.id}}">{{hashtag.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="tabSize($event)">
    </pagination-controls>
  </div>
  </div>

